<p-toast></p-toast>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-fixed">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"
            [disabled]="!selectedCompany ? true : false"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="right">
      <div class="col-fixed">
        <button pButton pRipple label="Atualizar Tabela" icon="pi pi-undo" class="p-button-info" (click)="list()"></button>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="pets" [rows]="10" [paginator]="true" [style]="{'margin-top':'20px'}"
    [globalFilterFields]="['typePet','breed','size','age', 'identification', 'pet.imageConfidence', 'pet.imageResult']" responsiveLayout="stack" [(selection)]="selectedPets"
    [rowHover]="true" dataKey="guid" [showCurrentPageReport]="false" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <p class="title">Gerenciar Pets</p>
        </div>
        <div class="col-fixed subtitle">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filter" (input)="dt.filterGlobal(filter, 'contains')"
              placeholder="Pesquisar..." />
          </span>
          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-danger p-button-outlined" pTooltip="Limpar Filtro" tooltipPosition="top" (click)="clean(dt)"></button>
        </div>
        <div class="col-2 subtitle">
          <span class="p-float-label">
            <p-dropdown [autoDisplayFirst]="true" [options]="companies" [(ngModel)]="selectedCompany"
              [style]="{'width':'100%', 'height':'39px'}" (onChange)="list()"></p-dropdown>
            <label for="dropdown">Organizações</label>
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="typePet" style="width: 10%">Animal<p-sortIcon field="typePet"></p-sortIcon>
        </th>
        <th pSortableColumn="typePet" style="width: 15%">Identificação do Pet<p-sortIcon field="typePet"></p-sortIcon>
        </th>
        <th pSortableColumn="breed" style="width: 15%">Raça<p-sortIcon field="breed"></p-sortIcon>
        </th>
        <th pSortableColumn="size" style="width: 10%">Porte<p-sortIcon field="size"></p-sortIcon>
        </th>
        <th pSortableColumn="age" style="width: 10%">Idade<p-sortIcon field="age"></p-sortIcon>
        </th>
        <th style="width: 15%">Reconhecimento da Imagem</th>
        <th style="width: 15%">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pet>
      <tr>
        <td>
          <p-tableCheckbox [value]="pet"></p-tableCheckbox>
        </td>
        <td>{{findNameTypePet(pet.typePet)}}</td>
        <td>{{pet.identification}}</td>
        <td>{{pet.breed ? pet.breed : "N.A."}}</td>
        <td>{{findNameSize(pet.size)}}</td>
        <td>{{pet.age}}</td>
        <td *ngIf="pet.imageConfidence && pet.imageResult && pet.photo1 && pet?.imageResult?.includes(pet.typePet)" style="color: green;">
          <div style="display: flex; align-items: center;">
            <i class="pi pi-check" style="vertical-align: middle;"></i>
            <div style="margin-left: 10px;">
              <div>Acertividade: {{pet.imageConfidence}}</div>
              <div>{{pet.imageResult}}</div>
            </div>
          </div>
        </td>
        <td *ngIf="!pet.imageConfidence && pet.imageResult && pet.photo1" style="color: red;">
          <div style="display: flex; align-items: center;">
            <i class="pi pi-times" style="vertical-align: middle;"></i>
            <div style="margin-left: 10px;">
              <div>{{pet.imageResult}}</div>
            </div>
          </div>
        </td>
        <td *ngIf="!pet.imageConfidence && !pet.imageResult && pet.photo1" style="color: orange;">
          <div style="display: flex; align-items: center;">
            <i class="pi pi-spin pi-spinner" style="vertical-align: middle;"></i>
            <div style="margin-left: 10px;">
              <div>Processando</div>
            </div>
          </div>
        </td>
        <td *ngIf="!pet.imageConfidence && !pet.imageResult && !pet.photo1" style="color: purple;">
          <div style="display: flex; align-items: center;">
            <i class="pi pi-exclamation-triangle" style="vertical-align: middle;"></i>
            <div style="margin-left: 10px;">
              <div>Pendente Imagem do Pet</div>
            </div>
          </div>
        </td>
        <td *ngIf="pet.imageConfidence && pet.imageResult && pet.photo1 && !pet?.imageResult?.includes(pet.typePet)" style="color: red;">
          <div style="display: flex; align-items: center;">
            <i class="pi pi-exclamation-circle" style="vertical-align: middle;"></i>
            <div style="margin-left: 10px;">
              <div>Divergência no Tipo do Pet</div>
              <div>Acertividade: {{pet.imageConfidence}}</div>
              <div>{{pet.imageResult}}</div>
            </div>
          </div>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            style="margin-left: 5px" (click)="editPet(pet)" pTooltip="Editar Pet" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-images" class="p-button-rounded p-button-warning" style="margin-left: 5px"
            (click)="openImageDialog(pet.guid)" pTooltip="Editar Imagens do Pet" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="margin-left: 5px"
            (click)="deletePet(pet)" pTooltip="Excluir Pet" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{pets ? pets.length == 1 ? pets.length + ' Pets no total.' : pets.length + ' Pets no total.' : 0 + '
        Pets no total.'}}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="petDialog" [style]="{width: '50vw'}" header="Dados do Pet" [modal]="true" (onHide)="hideDialog()"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-6">
          <span class="p-float-label">
            <p-dropdown [options]="typePet" [(ngModel)]="pet.typePet" optionLabel="name" appendTo="body" [showClear]="true" [disabled]="!!pet.guid"></p-dropdown>
            <label for="typePet">Animal*</label>
          </span>
          <small class="p-error" *ngIf="!pet.typePet">Este campo é obrigatório.</small>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-dropdown [options]="gender" [(ngModel)]="pet.gender" optionLabel="name" appendTo="body" [showClear]="true"></p-dropdown>
            <label for="gender">Sexo*</label>
          </span>
          <small class="p-error" *ngIf="!pet.gender">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label" *ngIf="pet.typePet?.code == 'Cachorro'">
            <p-dropdown [options]="dogBreeds" [(ngModel)]="pet.breed" optionLabel="name" appendTo="body" [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>
            <label for="breed">Raça*</label>
          </span>
          <span class="p-float-label" *ngIf="pet.typePet?.code == 'Gato'">
            <p-dropdown [options]="catBreeds" [(ngModel)]="pet.breed" optionLabel="name" appendTo="body" [showClear]="true" [autoDisplayFirst]="false"></p-dropdown>
            <label for="breed">Raça*</label>
          </span>
          <small class="p-error" *ngIf="!pet.breed">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <span class="p-float-label">
            <p-dropdown [options]="size" [(ngModel)]="pet.size" optionLabel="name" appendTo="body" [showClear]="true"></p-dropdown>
            <label for="size">Porte*</label>
          </span>
          <small class="p-error" *ngIf="!pet.size">Este campo é obrigatório.</small>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-inputMask [(ngModel)]="pet.birthDate" mask="99/99/9999"></p-inputMask>
            <label for="birthDate">Data de Nascimento*</label>
          </span>
          <small class="p-error" *ngIf="!pet.birthDate">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <textarea type="text" pInputText [(ngModel)]="pet.description" [rows]="5" [cols]="30" required></textarea>
            <label for="description">Descrição do Pet (Nome e Características Principais)*</label>
          </span>
          <small class="p-error" *ngIf="!pet.description">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label" *ngIf="pet.typePet?.code == 'Cachorro'">
            <p-multiSelect [options]="dogVaccines" [(ngModel)]="pet.vaccines" optionLabel="name" appendTo="body"></p-multiSelect>
            <label for="vaccines">Vacinas Tomadas</label>
          </span>
          <span class="p-float-label" *ngIf="pet.typePet?.code == 'Gato'">
            <p-multiSelect [options]="catVaccines" [(ngModel)]="pet.vaccines" optionLabel="name" appendTo="body"></p-multiSelect>
            <label for="vaccines">Vacinas Tomadas</label>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.color" maxlength="200" required />
            <label for="color">Cor do Pet</label>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="savePet()"
      [disabled]="!pet.typePet || !pet.gender || !pet.breed || !pet.size || !pet.birthDate || !pet.color ? true : false"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="petImageDialog" [style]="{width: '30vw'}" header="Upload de Imagem" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-12">
          <p-fieldset legend="Imagem 1">
            <div class="col-12" *ngIf="image1" style="text-align: center;">
              <p-image [src]="image1" alt="Imagem 1" height="150" [preview]="true"></p-image>
            </div>
            <div class="col-12" style="text-align: center;">
              <p-fileUpload #fu1 mode="basic" accept="image/*" (onBeforeUpload)="fu1.clear()"
                (onSelect)="onUpload($event, 1)" [auto]="true" [fileLimit]="1" chooseLabel="Selecionar">
              </p-fileUpload>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
      (click)="closeImageDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveImagesPet()"
      [disabled]="!pet.photo1 && !pet.photo2 && !pet.photo3 && !pet.photo4 ? true : false"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '600px'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" class="p-button-danger"></button>
    <button id="acceptButton" type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"
      class="p-button-success"></button>
  </ng-template>
</p-confirmDialog>
