<p-toast></p-toast>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-fixed">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"
            [disabled]="!selectedCompany ? true : false"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Atualizar" icon="pi pi-undo" class="p-button-info" (click)="list()"></button>
        </div>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="pets" [rows]="10" [paginator]="true" [style]="{'margin-top':'20px'}"
    [globalFilterFields]="['typePet','breed','size','age']" responsiveLayout="stack" [(selection)]="selectedPets"
    [rowHover]="true" dataKey="guid" [showCurrentPageReport]="false">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <p class="title">Gerenciar Pets</p>
        </div>
        <div class="col-fixed subtitle">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filter" (input)="dt.filterGlobal(filter, 'contains')"
              placeholder="Pesquisar..." />
          </span>
        </div>
        <div class="col-2 subtitle">
          <span class="p-float-label">
            <p-dropdown [autoDisplayFirst]="true" [options]="companies" [(ngModel)]="selectedCompany"
              [style]="{'width':'100%', 'height':'39px'}" (onChange)="list()"></p-dropdown>
            <label for="dropdown">Organizações</label>
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 2%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="typePet" style="width: 20%">Animal<p-sortIcon field="typePet"></p-sortIcon>
        </th>
        <th pSortableColumn="breed" style="width: 20%">Raça<p-sortIcon field="breed"></p-sortIcon>
        </th>
        <th pSortableColumn="size" style="width: 20%">Porte<p-sortIcon field="size"></p-sortIcon>
        </th>
        <th pSortableColumn="age" style="width: 20%">Idade<p-sortIcon field="age"></p-sortIcon>
        </th>
        <th style="width: 28%">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pet>
      <tr>
        <td>
          <p-tableCheckbox [value]="pet"></p-tableCheckbox>
        </td>
        <td>{{pet.typePet}}</td>
        <td>{{pet.breed}}</td>
        <td>{{pet.size}}</td>
        <td>{{pet.age}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            style="margin-left: 5px" (click)="editPet(pet)" pTooltip="Editar Pet" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-images" class="p-button-rounded p-button-warning" style="margin-left: 5px"
            (click)="openImageDialog(pet.guid)" pTooltip="Editar Imagens do Pet" tooltipPosition="top"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="margin-left: 5px"
            (click)="deletePet(pet)" pTooltip="Excluir Pet" tooltipPosition="top"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{pets ? pets.length == 1 ? pets.length + ' Pets no total.' : pets.length + ' Pets no total.' : 0 + '
        Pets no total.'}}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="petDialog" [style]="{width: '50vw'}" header="Dados do Pet" [modal]="true" (onHide)="hideDialog()"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.typePet" maxlength="50" required />
            <label for="typePet">Animal*</label>
          </span>
          <small class="p-error" *ngIf="!pet.typePet">Este campo é obrigatório.</small>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.gender" maxlength="50" required />
            <label for="gender">Sexo*</label>
          </span>
          <small class="p-error" *ngIf="!pet.gender">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.breed" maxlength="50" required autofocus />
            <label for="breed">Raça*</label>
          </span>
          <small class="p-error" *ngIf="!pet.breed">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.size" maxlength="30" required />
            <label for="size">Porte*</label>
          </span>
          <small class="p-error" *ngIf="!pet.size">Este campo é obrigatório.</small>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="pet.age" maxlength="30" required />
            <label for="age">Idade*</label>
          </span>
          <small class="p-error" *ngIf="!pet.age">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <textarea type="text" pInputText [(ngModel)]="pet.description" [rows]="5" [cols]="30" required></textarea>
            <label for="description">Descrição*</label>
          </span>
          <small class="p-error" *ngIf="!pet.description">Este campo é obrigatório.</small>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <textarea type="text" pInputText [(ngModel)]="pet.vaccines" [rows]="5" [cols]="30"></textarea>
            <label for="vaccines">Vacinas</label>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <textarea type="text" pInputText [(ngModel)]="pet.medication" [rows]="5" [cols]="30"></textarea>
            <label for="medication">Medicação</label>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="savePet()"
      [disabled]="!pet.typePet || !pet.gender || !pet.breed || !pet.size || !pet.age ? true : false"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="petImageDialog" [style]="{width: '30vw'}" header="Upload de Imagens" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-12">
          <p-fieldset legend="Imagem 1">
            <div class="col-12" *ngIf="image1" style="text-align: center;">
              <p-image [src]="image1" alt="Imagem 1" height="150" [preview]="true"></p-image>
            </div>
            <div class="col-12" style="text-align: center;">
              <p-fileUpload #fu1 mode="basic" accept="image/*" (onBeforeUpload)="fu1.clear()"
                (onSelect)="onUpload($event, 1)" [auto]="true" [fileLimit]="1" chooseLabel="Selecionar">
              </p-fileUpload>
            </div>
          </p-fieldset>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
      (click)="closeImageDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveImagesPet()"
      [disabled]="!pet.photo1 && !pet.photo2 && !pet.photo3 && !pet.photo4 ? true : false"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '600px'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" class="p-button-danger"></button>
    <button id="acceptButton" type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"
      class="p-button-success"></button>
  </ng-template>
</p-confirmDialog>