<p-toast [style]="{'width':'70vw'}"></p-toast>

<div class="container">
  <div class="box">
    <div class="p-grid" style="padding-top: 20px;">
      <div class="p-col-12" style="text-align: center;">
        <img src="../../../assets/logo-title.jpg" width="150px" alt="">
        <h4 class="title">4PET - Recuperação de Senha</h4>
      </div>
      <div class="p-fluid">
        <form [formGroup]="form">
          <div class="p-field first">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText formControlName="email" required/>
              <label for="float-input">E-mail*</label>
            </span>
          </div>
          <div class="p-field second">
            <span class="p-float-label">
              <input id="float-input" type="password" pInputText formControlName="password" required/>
              <label for="float-input">Senha*</label>
            </span>
          </div>
        </form>
        <div class="p-field thrid">
          <p-button label="Salvar" icon="pi pi-save" [disabled]="form.invalid" (onClick)="save()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
