<p-toast [style]="{'width':'70vw'}"></p-toast>

<div class="container">
  <div class="box">
    <div class="p-grid" style="padding-top: 20px;">
      <div class="p-col-12" style="text-align: center;">
        <img src="../../../assets/logo-title.jpg" width="150px" alt="">
        <h4 class="title">4PET - Recuperação de Senha</h4>
      </div>
      <div class="p-fluid">
        <form [formGroup]="form">
          <div class="p-field first">
            <span class="p-float-label">
              <input id="float-input" type="text" pInputText formControlName="email" required/>
              <label for="float-input">E-mail*</label>
            </span>
          </div>
          <div class="p-field second">
            <span class="p-float-label">
              <p-password formControlName="password" appendTo="body" weakLabel="Senha Fraca"
                  mediumLabel="Senha Média" strongLabel="Senha Forte" promptLabel="Insira uma senha">
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Sugestões</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>Pelo menos uma letra minúscula.</li>
                      <li>Pelo menos uma letra maiúscula.</li>
                      <li>Pelo menos um número.</li>
                      <li>Mínimo de 8 caracteres.</li>
                    </ul>
                  </ng-template>
                </p-password>
                <label for="password">Senha*</label>
            </span>
          </div>
          <div class="p-field second">
            <span class="p-float-label">
              <p-password formControlName="confirmPassword" appendTo="body" weakLabel="Senha Fraca"
                  mediumLabel="Senha Média" strongLabel="Senha Forte" promptLabel="Insira uma senha">
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Sugestões</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>Pelo menos uma letra minúscula.</li>
                      <li>Pelo menos uma letra maiúscula.</li>
                      <li>Pelo menos um número.</li>
                      <li>Mínimo de 8 caracteres.</li>
                    </ul>
                  </ng-template>
                </p-password>
                <label for="password">Confirme a Senha*</label>
            </span>
          </div>
        </form>
        <div class="p-field thrid">
          <p-button label="Salvar" icon="pi pi-save" [disabled]="verifyDisable()" (onClick)="save()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
