<p-toast></p-toast>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <div class="grid">
        <div class="col-fixed">
          <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedCompanies()" [disabled]="!selectedCompanies || !selectedCompanies.length"></button>
        </div>
        <div class="col-fixed">
          <button pButton pRipple label="Atualizar" icon="pi pi-undo" class="p-button-info" (click)="list()"></button>
        </div>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="companies" [rows]="10" [paginator]="true" [style]="{'margin-top':'20px'}"
    [globalFilterFields]="['name','email','document','phone']" responsiveLayout="stack"
    [(selection)]="selectedCompanies" [rowHover]="true" dataKey="guid" [showCurrentPageReport]="false">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col">
          <p class="title">Gerenciar Organizações</p>
        </div>
        <div class="col-fixed">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [(ngModel)]="filter" (input)="dt.filterGlobal(filter, 'contains')"
              placeholder="Pesquisar..." />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="document">CNPJ<p-sortIcon field="document"></p-sortIcon>
        </th>
        <th pSortableColumn="email">E-mail<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">Telefone<p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company>
      <tr>
        <td>
          <p-tableCheckbox [value]="company"></p-tableCheckbox>
        </td>
        <td>{{company.name}}</td>
        <td>{{company.document | documentformat}}</td>
        <td>{{company.email}}</td>
        <td>{{company.phone}}</td>
        <td>
          <i class="pi pi-times" style="font-size: 2rem; color: red;" *ngIf="company.permission == 'UNAUTHORIZED'"></i>
          <i class="pi pi-check" style="font-size: 2rem; color: green;" *ngIf="company.permission == 'AUTHORIZED'"></i>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-unlock" class="p-button-rounded p-button-info"
            (click)="validateCompany(company)" [disabled]="company.permission == 'AUTHORIZED' ? true : false"></button>
          <button pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-help" style="margin-left: 5px"
            (click)="unauthorize(company)" [disabled]="company.permission == 'AUTHORIZED' ? false : true"></button>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" style="margin-left: 5px"
            (click)="editCompany(company)"></button>
          <button pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning" style="margin-left: 5px"
            (click)="editPassword(company)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" style="margin-left: 5px"
            (click)="deleteCompany(company)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{companies ? companies.length : 0 }} organizações no total.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="companyDialog" [style]="{width: '50vw'}" header="Dados da Organização" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.name" required autofocus />
            <label for="name">Nome</label>
            <small class="p-error" *ngIf="submitted && !company.name">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.email" required />
            <label for="email">Email</label>
            <small class="p-error" *ngIf="submitted && !company.email">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <span class="p-float-label">
            <p-inputMask [(ngModel)]="company.document" mask="99.999.999/9999-99"></p-inputMask>
            <label for="document">Documento</label>
            <small class="p-error" *ngIf="submitted && !company.document">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <p-inputMask [(ngModel)]="company.phone" mask="99 99999-9999"></p-inputMask>
            <label for="phone">Telefone</label>
            <small class="p-error" *ngIf="submitted && !company.phone">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <p-inputMask [(ngModel)]="company.cep" mask="99999-999"></p-inputMask>
            <label for="cep">CEP</label>
            <small class="p-error" *ngIf="submitted && !company.cep">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.country" required />
            <label for="country">País</label>
            <small class="p-error" *ngIf="submitted && !company.country">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.city" required />
            <label for="city">Cidade</label>
            <small class="p-error" *ngIf="submitted && !company.city">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.district" required />
            <label for="district">Bairro</label>
            <small class="p-error" *ngIf="submitted && !company.district">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.street" required />
            <label for="street">Rua</label>
            <small class="p-error" *ngIf="submitted && !company.street">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <input type="number" pInputText [(ngModel)]="company.numberAddress" required />
            <label for="numberAddress">Número do Endereço</label>
            <small class="p-error" *ngIf="submitted && !company.numberAddress">Este campo é obrigatório.</small>
          </span>
        </div>
        <div class="col-4">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.uf" required />
            <label for="uf">UF</label>
            <small class="p-error" *ngIf="submitted && !company.uf">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
      <div class="grid" *ngIf="!company.guid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText id="password" [(ngModel)]="company.password" required />
            <label for="password">Senha</label>
            <small class="p-error" *ngIf="submitted && !company.password">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveCompany()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="passwordDialog" [style]="{width: '30vw'}" header="Senha da Organização" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content">
      <div class="grid">
        <div class="col-12">
          <span class="p-float-label">
            <input type="text" pInputText [(ngModel)]="company.password" required />
            <label for="password">Senha</label>
            <small class="p-error" *ngIf="submitted && !company.password">Este campo é obrigatório.</small>
          </span>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success"
      (click)="savePassword()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog #cd [style]="{width: '600px'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" class="p-button-danger"></button>
    <button id="acceptButton" type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"
      class="p-button-success"></button>
  </ng-template>
</p-confirmDialog>

<p-dialog [(visible)]="validationDialog" [style]="{width: '70vw'}" header="Validação dos Dados" [modal]="true" (onHide)="hideDialog()"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <p-panel header="Dados Inseridos no Sistema pela Instituição" [style]="{'margin-top': '30px'}">
      <div class="grid">
        <div class="col-4">
          <p><strong>Nome: </strong>{{company.name}}</p>
        </div>
        <div class="col-4">
          <p><strong>E-mail: </strong>{{company.email}}</p>
        </div>
        <div class="col-4">
          <p><strong>CNPJ: </strong>{{company.document | documentformat}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Telefone: </strong>{{company.phone}}</p>
        </div>
        <div class="col-4">
          <p><strong>País: </strong>{{company.country}}</p>
        </div>
        <div class="col-4">
          <p><strong>Cidade: </strong>{{company.city}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Bairro: </strong>{{company.district}}</p>
        </div>
        <div class="col-4">
          <p><strong>Rua: </strong>{{company.street}}</p>
        </div>
        <div class="col-4">
          <p><strong>Número do Endereço: </strong>{{company.numberAddress}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>UF: </strong>{{company.uf}}</p>
        </div>
        <div class="col-4">
          <p><strong>CEP: </strong>{{company.cep}}</p>
        </div>
      </div>
    </p-panel>
    <p-panel header="Dados Obtidos pelo CNPJ" [style]="{'margin-top': '10px'}">
      <div class="grid">
        <div class="col-4">
          <p><strong>Razão Social: </strong>{{cnpjResponse.razao_social}}</p>
        </div>
        <div class="col-4">
          <p><strong>CNPJ: </strong>{{cnpjResponse.estabelecimento.cnpj | documentformat}}</p>
        </div>
        <div class="col-4">
          <p><strong>Atualizado em: </strong>{{cnpjResponse.atualizado_em | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>CNPJ - Raiz: </strong>{{cnpjResponse.estabelecimento.cnpj_raiz}}</p>
        </div>
        <div class="col-4">
          <p><strong>CNPJ - Ordem: </strong>{{cnpjResponse.estabelecimento.cnpj_ordem}}</p>
        </div>
        <div class="col-4">
          <p><strong>CNPJ - Dígito Verificador: </strong>{{cnpjResponse.estabelecimento.cnpj_digito_verificador}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Tipo: </strong>{{cnpjResponse.estabelecimento.tipo}}</p>
        </div>
        <div class="col-4">
          <p><strong>Nome Fantasia: </strong>{{cnpjResponse.estabelecimento.nome_fantasia}}</p>
        </div>
        <div class="col-4">
          <p><strong>Situação Cadastral: </strong>{{cnpjResponse.estabelecimento.situacao_cadastral}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Data da Situação Cadastral: </strong>{{cnpjResponse.estabelecimento.data_situacao_cadastral | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-4">
          <p><strong>Data do Início da Atividade: </strong>{{cnpjResponse.estabelecimento.data_inicio_atividade | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-4">
          <p><strong>E-mail: </strong>{{cnpjResponse.estabelecimento.email}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Logradouro: </strong>{{cnpjResponse.estabelecimento.logradouro}}</p>
        </div>
        <div class="col-4">
          <p><strong>Bairro: </strong>{{cnpjResponse.estabelecimento.bairro}}</p>
        </div>
      </div>
    </p-panel>
    <p-panel header="Dados Obtidos pelo CEP" [style]="{'margin-top': '10px'}">
      <div class="grid">
        <div class="col-4">
          <p><strong>CEP: </strong>{{cepResponse.cep}}</p>
        </div>
        <div class="col-4">
          <p><strong>Logradouro: </strong>{{cepResponse.logradouro}}</p>
        </div>
        <div class="col-4">
          <p><strong>Bairro: </strong>{{cepResponse.bairro}}</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-4">
          <p><strong>Localidade: </strong>{{cepResponse.localidade}}</p>
        </div>
        <div class="col-4">
          <p><strong>UF: </strong>{{cepResponse.uf}}</p>
        </div>
        <div class="col-4">
          <p><strong>DDD: </strong>{{cepResponse.ddd}}</p>
        </div>
      </div>
    </p-panel>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Negar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Autorizar" icon="pi pi-check" class="p-button-success" (click)="authorize()"></button>
  </ng-template>
</p-dialog>
